<%- include('../partials/header')  %>

<h2> Create an account</h2>

<form action="/auth/signup" method="post">


<% if(locals.errorMessage) { %>
    <div class="Error">
        <%= errorMessage  %>
    <% } %>
</div>

<label for="username"> Username:</label>
<input type="text" id="usernameInput" name="username" value="<%= locals.username  %>">
<br>

<label for="passwordInput"> Password:</label>
<input type="password" id="passwordInput" name="password">
<br>
<label for="passwrodConfirmation"> Password confirmation</label>
<input type="password" id="passwordConfirmationInput" name="passwordConfirmationInput">
<br>
<button>Create your user!</button>

</form>


<%- include ('../partials/footer')  %>