<%- include('../partials/header') %>

<h2>Create an account</h2>

<form action="/auth/signup" method="post">
  <% if(locals.errorMessage) { %>
  <div class="Error"><%= errorMessage %></div>
  <% } %>

  <label for="username"> Username:</label>
  <input
    type="text"
    id="usernameInput"
    name="username"
    value="<%= locals.username  %>"
  />
  

  <label for="passwordInput"> Password:</label>
  <input type="password" id="passwordInput" name="password" />
  <label for="passwordConfirmationInput"> Password confirmation</label>
  <input
    type="password"
    id="passwordConfirmationInput"
    name="passwordConfirmation"
  />

  <button class="createButton">Create your user!</button>
</form>

<%- include ('../partials/footer') %>
