<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chrono Atlas</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/utils/toggleCalendarForm.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <h1>Chrono Atlas: Your Weekly Planner</h1>
            <ul class="navLinks">
                <li><a href="/">Home</a></li>

                <% if (user !== null) { %>
                <li><a href="/tasks/new">Create a New Task</a></li>
                <li><a href="/tasks">All Tasks</a></li>
                <li><a href="/calendars">All Weekly Calendars</a></li>
                <li><a href="/calendars/new">Create a New Week</a></li>
                <% } %>

                <% if (user !== null) { %>
                <li><a href="/auth/logout">Logout</a></li>
                <% } else { %>
                <li><a href="/auth/signup">Sign Up</a></li>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
            </ul>
        </nav>
    </header>
    

    <main>
  </body>
</html>
