<%- include('../partials/header') %>

<h2>List of created weeks</h2>

<ol>
  <% for (const week of weekIndex) { %>

  <li>
    <a href="/calendars/<%= week.id %>">
      <h3>Title: <%= week.title %></h3>
    </a>
  </li>

  <% } %>
</ol>

<%- include ('../partials/footer') %>
