<h2> Weekly Calendar</h2>

<table>
    <thead>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </thead>


<tbody>
    <tr>
        <td>
            <div class ="task-container">
                <ol>
                    <li>Monday task</li>
                    <li>Monday task</li>
                </ol>
            </div>
        </td>
        <td>
            <ol>
                <li>Tuesday tasks</li>
                <li>Tuesday tasks</li>
            </ol>
        </td>
        <td>
            <ol>
                <li>Wednesday tasks</li>
                <li>Wednesday tasks</li>
            </ol>
        </td>
        <td>
            <ol>
                <li> Thursday tasks</li>
                <li> Thursday tasks</li>
            </ol>
        </td>
        <td>
            <ol>
                <li> Friday tasks</li>
                <li> Friday tasks</li>
            </ol>
        </td>
        <td>
            <ol>
                <li> Saturday tasks</li>
                <li> Saturday tasks</li>
            </ol>
        </td>
        <td>
            <ol> 
                <li> Sunday tasks</li>
                <li> Sunday tasks</li>
            </ol>
        </td>
    </tr>


</tbody>
</table>