<%- include('partials/header') %> 

<% if (user) { %>
    <p class="welcome">Welcome, <%= user.username %>!
    </p>
<% } else { %>
    <p class="welcome">Welcome to Chrono Atlas: your favorite weekly planner!</p>
<% } %>

<p class="welcome">Ready to organize your week?</p>

<p class="welcome">
  You can jump straight into creating tasks or set up a week first for
  better planning. Start now to get everything in order and make your week
  more productive!
</p>

<%- include('partials/footer') %>