<%- include('partials/header')  %>

<h2> Welcome to Chrono Atlas: your favorite weekly planner</h2>

<p>Go ahead and start planning your week!</p>


<% if (user) { %>
    <h2>Welcome, <%= user.username %><h2>
<% } %>



<%- include ('partials/footer')  %>