table {
    width:100%;
    border: 1px black;
    margin:1rem;
    background: yellow;

}
.container {
    display:flex;
    justify-content: space-between;
}

.task {
    flex:2;
    margin-right: 20px
}
.calendar {
    flex:1;
}


th {
    size:1rem;
    border: 1px solid black;
    padding:2px;
    position:relative;
    width:15%;
}

td {
    border:1px solid black;
    background-color: blue;
}

tr {
    border: 1px solid green;
}
.task-container {
    position: relative;
    bottom:0;
    padding:5px;
}



li {
    margin-bottom:5px;
}

.secondBrain {
    border: 1px solid black;
    padding:5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.weekly{
    border: 1px solid black;
    padding:5px;
    border-radius: 10px;
    margin-bottom:20px;
}